table {
    border-collapse: collapse;
    margin: 0 auto;
}

caption {
    font-size: xx-large;
    font-weight: bold;
}

td {
    border: 1px solid gray;
    text-align: center;
}

td, img {
    --cell-size: 10vmin;
    width: clamp(30px, var(--cell-size), 50px);
    height: clamp(30px, var(--cell-size), 50px);
}

tr:nth-child(1) td:nth-child(1),
tr:nth-child(1) td:nth-child(2),
tr:nth-child(1) td:nth-child(6),
tr:nth-child(1) td:nth-child(7),
tr:nth-child(2) td:nth-child(1),
tr:nth-child(2) td:nth-child(2),
tr:nth-child(2) td:nth-child(6),
tr:nth-child(2) td:nth-child(7),
tr:nth-child(6) td:nth-child(1),
tr:nth-child(6) td:nth-child(2),
tr:nth-child(6) td:nth-child(6),
tr:nth-child(6) td:nth-child(7),
tr:nth-child(7) td:nth-child(1),
tr:nth-child(7) td:nth-child(2),
tr:nth-child(7) td:nth-child(6),
tr:nth-child(7) td:nth-child(7) {
    border: 0;
}

img {
    vertical-align: middle;
    position: relative;
    animation-fill-mode: backwards;
}

#message {
    text-align: center;
}